<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Громадський патруль — проект для справедливих водіїв{% endblock %}</title>
        <meta name="description" content="Сервіс оперативної фіксації правопорушень з допомогою відео. Країна повинна
        знати своїх “героїв”. Пишіть нам на patrul@stfalcon.com."/>
        <meta name="keywords" content="громадський патруль, відео, відеофіксація, порушення, дтп, поліція">

        <meta property="og:site_name" content="Громадський патруль"/>
        <meta property="og:url" content="http://xn--80awkfjh8d.com/"/>

        <meta property="og:type" content="website" />
        <meta property="og:description" content="Сервіс оперативної фіксації правопорушень з допомогою відео. Країна повинна
        знати своїх “героїв”. Пишіть нам на patrul@stfalcon.com." />
        <meta name="twitter:description" content="Сервіс оперативної фіксації правопорушень з допомогою відео. Країна повинна
        знати своїх “героїв”. Пишіть нам на patrul@stfalcon.com." />
        <meta property="og:image" content="{{ asset('patrul_cover.png', null, true) }}" />
        {% block stylesheets %}
            <link href="{{ asset('bundles/app/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-custom navbar-fixed-top">
            <div class="navbar-header"><a class="navbar-brand" href="{{ path('homepage') }}">Громадський патруль</a>
                <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('add_video_violation') }}">Додати правопорушення</a></li>
                    <li>&nbsp;</li>
                </ul>
            </div>

            <a target="_blank" class="link-app link-app-store" href="https://itunes.apple.com/ua/app/gromads-kij-patrul/id1035090014">
                <img width="120" alt="Get it on App Store" src="{{ asset('app_store.png') }}" />
            </a>
            <a target="_blank" class="link-app" href="https://play.google.com/store/apps/details?id=com.stfalcon.hromadskyipatrol">
                <img width="120" alt="Get it on Google Play" src="{{ asset('google_play.png') }}" />
            </a>
        </div>
        {% block body %}{% endblock %}
        <footer class="footer">
            <div class="copyright">
                <p>
                    2014–{{ 'now'|date('Y') }} © Громадський патруль, зроблено у студії <a href="http://stfalcon.com/">stfalcon.com</a> Електронна пошта <a href="mailto:patrul@stfalcon.com">patrul@stfalcon.com</a>
                </p>
            </div>
            <div class="soc_shares">
                <a href="https://www.facebook.com/GromadskyiPatrul/"><span class="icon_facebook"></span><span>Поширити в Facebook</span></a>
            </div>
        </footer>
    </body>
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/app/bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}

</html>
